@tailwind base;
@tailwind components;
@tailwind utilities;

head,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root { --container: 1100px; }
.container { max-width: var(--container); }

html { scroll-behavior: smooth; }